<div class="min-h-screen bg-page-bg px-4 py-8 sm:py-12 lg:flex lg:items-center" style="font-family: Cairo, sans-serif;">
    <div
        class="mx-auto flex w-full max-w-6xl flex-col items-center gap-6 sm:gap-8 lg:flex-row lg:items-center lg:justify-between">
        <section class="order-2 w-full max-w-xl text-center lg:order-1 lg:text-left">
            <app-auth-hero></app-auth-hero>
        </section>
        <section class="order-1 w-full max-w-107.5 lg:order-2">
            <!-- regisert / login  -->
            <router-outlet></router-outlet>
        </section>
    </div>
</div>