<nav class="sticky top-0  z-40 border-b border-slate-200/90 bg-white/95 backdrop-blur-sm">
    <div class="mx-auto flex max-w-7xl items-center justify-between gap-2 px-2 py-1.5 sm:gap-3 sm:px-3">
        <!-- nav logo -->
        <div class="flex items-center gap-3">
            <img class="size-9 rounded-xl object-cover" src="/images/Route-New-Logo.jpeg" alt="Route Posts">
            <p class="hidden text-xl font-extrabold text-slate-900 sm:block">Route Posts</p>
        </div>

        <!-- nav link -->
        <div
            class="flex min-w-0 items-center gap-1 overflow-auto rounded-2xl border border-slate-200 bg-slate-50/90 px-1 py-1 sm:px-1.5">
            <!-- link Feed -->
            <div class="cursor-pointer">
                <a routerLink="/home" routerLinkActive=" bg-white! text-[#1f6fe5]!"
                    class="relative flex items-center gap-1.5 rounded-xl px-2.5 py-2 text-sm font-extrabold transition sm:gap-2 sm:px-3.5  text-slate-600 hover:bg-white/90 hover:text-slate-900 ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-house" aria-hidden="true">
                        <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"></path>
                        <path
                            d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z">
                        </path>
                    </svg>
                    <span class="hidden sm:inline">Feed</span>
                    <span class="sr-only sm:hidden">Feed</span>
                </a>
            </div>
            <!-- link Profile -->
            <div class="cursor-pointer">
                <a routerLink="/profile" routerLinkActive=" bg-white! text-[#1f6fe5]!"
                    class="relative flex items-center gap-1.5 rounded-xl px-2.5 py-2 text-sm font-extrabold transition sm:gap-2 sm:px-3.5 text-slate-600 hover:bg-white/90 hover:text-slate-900 ">
                    <span class="relative"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user"
                            aria-hidden="true">
                            <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg></span>
                    <span class="hidden sm:inline">Profile</span>
                    <span class="sr-only sm:hidden">Profile</span>
                </a>
            </div>
            <!-- link Notifications -->
            <div class="cursor-pointer">
                <a routerLink="/notifications" routerLinkActive=" bg-white! text-[#1f6fe5]!"
                    class="relative flex items-center gap-1.5 rounded-xl px-2.5 py-2 text-sm font-extrabold transition sm:gap-2 sm:px-3.5 text-slate-600 hover:bg-white/90 hover:text-slate-900 ">
                    <span class="relative">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-message-circle" aria-hidden="true">
                            <path
                                d="M2.992 16.342a2 2 0 0 1 .094 1.167l-1.065 3.29a1 1 0 0 0 1.236 1.168l3.413-.998a2 2 0 0 1 1.099.092 10 10 0 1 0-4.777-4.719">
                            </path>
                        </svg>
                        @if (unreadCount > 0) {
                        <span
                            class="absolute -right-2 -top-2 inline-flex min-w-[16px] items-center justify-center rounded-full bg-[#ef4444] px-1 text-[10px] font-black leading-4 text-white">
                            {{unreadCount}}
                        </span>
                        }
                    </span>
                    <span class="hidden sm:inline">Notifications</span>
                    <span class="sr-only sm:hidden">Notifications</span>
                </a>
            </div>
        </div>

        <!-- nav setting  -->
        <div class="relative" #menuContainer>
            <button (click)="toggleMenu(); $event.stopPropagation()"
                class="flex items-center gap-2 rounded-full border border-slate-200 bg-slate-50 px-2 py-1.5 transition hover:bg-slate-100 cursor-pointer">

                <img class="size-8 rounded-full object-cover cursor-pointer"
                    [src]="userImage? userImage : '/images/imgi_8_default-profile.png' " [alt]="userName">
                <span
                    class="hidden max-w[140px] truncate text-sm font-semibold text-slate-800 md:block cursor-pointer ">
                    {{userName?userName.split(" " , 1).join(" ") : ' '}}
                </span>
                <i class="fa-solid fa-bars lucide lucide-menu text-slate-500 cursor-pointer"></i>
            </button>
            <!-- List of Setting  -->
            @if (isMenuOpen) {
            <div class="absolute right-0 z-50 mt-2 w-52 rounded-xl border border-slate-200 bg-white p-2 shadow-lg">
                <!-- Link to Profile -->
                <button routerLink="/profile" (click)="toggleMenu()"
                    class="flex w-full items-center gap-2 rounded-lg px-3 py-2 text-sm font-semibold text-slate-700 hover:bg-slate-100 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-user" aria-hidden="true">
                        <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                    Profile
                </button>
                <!-- Link to Settings -->
                <button routerLink="/settings" (click)="toggleMenu()"
                    class="flex w-full items-center gap-2 rounded-lg px-3 py-2 text-sm font-semibold text-slate-700 hover:bg-slate-100 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-settings" aria-hidden="true">
                        <path d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033
                                2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34
                                2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34
                                2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915">
                        </path>
                        <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                    Settings
                </button>
                <div class="my-1 border-t border-slate-200"></div>
                <!-- Btn to Logout -->
                <button (click)="logOut()" (click)="toggleMenu()"
                    class="flex w-full items-center gap-2 rounded-lg px-3 py-2 text-sm font-semibold text-rose-600 hover:bg-rose-50 cursor-pointer">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    Logout
                </button>
            </div>
            }
        </div>
    </div>
</nav>